<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401953104200-9unq5l3el0ugff0mtta0sm2eekrjpvfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401953104200-9unq5l3el0ugff0mtta0sm2eekrjpvfo</string>
	<key>API_KEY</key>
	<string>AIzaSyDWZ9KzuVtMRtZrHjqOuXDfqJEk6XI4KcA</string>
	<key>GCM_SENDER_ID</key>
	<string>401953104200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todos</string>
	<key>PROJECT_ID</key>
	<string>todos-3b767</string>
	<key>STORAGE_BUCKET</key>
	<string>todos-3b767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401953104200:ios:99ee787d4c1c394411537d</string>
</dict>
</plist>